{% extends 'base.html.twig' %}

{% block title %}
    {{ system.siteName }}
{% endblock %}

{% block banner_content %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-3 mt-md-5">
                <h1 class="font-weight-bold mt-4 banner-title text-white">
                    一款高灵活可自由扩展的内容管理系统</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mt-3">
                <p class="lead text-white-50 font-weight-normal">
                    至文内容管理系统（简称：TEEBB）是基于Symfony框架开发的一款高灵活可自由扩展的内容管理系统。您可以自由使用本系统来构建您的博客、网站等应用。TEEBB的原理设计参考了著名的Drupal，注重内容的扩展性与功能性，它更轻量也更容易上手。目前0.1版本已实现了内容管理、内容类型管理、分类管理、分类类型管理、评论管理、评论类型管理、用户和用户组管理、菜单管理和系统基本设置功能，注重内容类型网站的开发。在后续版本中将实现I18N（国际化），RESTful
                    API，消息队列，缓存等等功能。
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 mt-3">
                <a href="#" class="btn btn-twitter px-4">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book-half"
                         fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M8.5 2.687v9.746c.935-.53 2.12-.603 3.213-.493 1.18.12 2.37.461 3.287.811V2.828c-.885-.37-2.154-.769-3.388-.893-1.33-.134-2.458.063-3.112.752zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z">
                        </path>
                    </svg>
                    产品概览
                </a>
                <a href="#" class="btn btn-light px-4">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-camera-video-fill"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z"/>
                    </svg>
                    视频教程
                </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9 m-4 pb-4 pb-md-5">
                <img src="{{ asset('teebb/assets/images/teebb.jpg') }}" class="img-fluid shadow"
                     alt="teebb-dashboard">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ dump(teebb_core.optionValue('system')) }}
    <section id="indexInfo">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <h2 class="second-title"><span class="text-teebb">TEEBB</span>是什么？</h2>
                    <p class="lead text-dark font-weight-light">
                        TEEBB是一款开源的内容管理系统。您可以使用TEEBB创建任何类型的内容。在后续的版本中您完全可以使用TEEBB
                        的API接口作为APP和小程序的服务器端。您也可以在TEEBB的基础上进行二次开发，组合任意的数据，完成任何功能，所有数据的存储与读取由TEEBB底层自动完成。
                    </p>
                    <div class="text-lg-left text-center">
                        <a href="#" class="btn btn-primary">了解更多</a>
                    </div>
                </div>
                <div class="col-lg-5 my-4 my-lg-0">
                    <div class="row">
                        <div class="col-6">
                            <div class="symfony bg-blue-lt">
                                <div class="symfony-img p-5 pt-4 pb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112.17 112.17">
                                        <defs>
                                            <style>
                                                .cls-01 {
                                                    fill: #231815;
                                                }

                                                .cls-02 {
                                                    fill: #fff;
                                                }
                                            </style>
                                        </defs>
                                        <g id="carr">
                                            <path class="cls-01"
                                                  d="M112.17,56.08A56.09,56.09,0,1,1,56.08,0,56.09,56.09,0,0,1,112.17,56.08Z"/>
                                            <path class="cls-02"
                                                  d="M80.6,20.75c-5.69.2-10.67,3.34-14.37,7.68a48.46,48.46,0,0,0-8.79,16.18c-3.52-2.88-6.22-6.61-11.87-8.23a14.46,14.46,0,0,0-13.14,2.4,11.72,11.72,0,0,0-4,5.85c-1.69,5.5,1.78,10.4,3.35,12.16l3.45,3.69a5.22,5.22,0,0,1,1.58,5.32c-.9,2.94-4.45,4.85-8.09,3.73-1.63-.5-4-1.71-3.44-3.41a15.77,15.77,0,0,1,1-1.83,7.9,7.9,0,0,0,.43-1.14c.67-2.16-.24-5-2.57-5.71-2.17-.66-4.39-.14-5.25,2.66-1,3.17.54,8.93,8.68,11.44,9.54,2.93,17.6-2.26,18.74-9,.72-4.24-1.19-7.39-4.7-11.44l-2.86-3.16A5.22,5.22,0,0,1,38.19,41c1.51-1.91,3.66-2.72,7.19-1.76,5.15,1.39,7.44,5,11.27,7.85a154.54,154.54,0,0,0-3.54,15.06l-.58,3.48C49.8,79.94,47.71,87.82,42.28,92.35a8.86,8.86,0,0,1-5,2,1.45,1.45,0,0,1-1.65-1.19c0-.87.7-1.26,1.19-1.65a3,3,0,0,0,1.74-3.16,4.75,4.75,0,0,0-5.11-4.54,5.92,5.92,0,0,0-5.49,6c.13,4,3.82,6.94,9.4,6.75,3-.1,9.63-1.31,16.18-9.1,7.64-8.94,9.77-19.18,11.38-26.67l1.79-9.9c1,.12,2.06.2,3.22.23,9.5.2,14.25-4.72,14.32-8.31,0-2.16-1.42-4.3-3.48-4.25A4,4,0,0,0,77,41.66c-.43,2,3,3.8.32,5.55C75.39,48.45,72,49.33,67.1,48.62L68,43.75c1.79-9.24,4-20.6,12.43-20.88.62,0,2.86,0,2.91,1.51,0,.49-.11.62-.69,1.76a4,4,0,0,0-.78,2.5c.08,2.36,1.87,3.91,4.47,3.82,3.47-.12,4.47-3.5,4.41-5.23C90.6,23.14,86.29,20.56,80.6,20.75Z"/>
                                        </g>
                                    </svg>
                                </div>
                                <h3 class="py-4 text-center">基于Symfony开发</h3>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="api-platform bg-dark">
                                <div class="symfony-img p-5 pt-4 pb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 1200">
                                        <defs>
                                            <style>
                                                .a {
                                                    fill: #67cece;
                                                }

                                                .b,
                                                .c {
                                                    fill: #1d1e1c;
                                                }

                                                .b {
                                                    opacity: 0.2;
                                                }

                                                .d {
                                                    fill: #38a9b4;
                                                }

                                                .e {
                                                    fill: #fff;
                                                }
                                            </style>
                                        </defs>
                                        <title>Logo</title>
                                        <circle class="a" cx="600" cy="600" r="600"/>
                                        <ellipse class="b" cx="455.01" cy="620.09" rx="79.63" ry="20.09"/>
                                        <ellipse class="b" cx="290.25" cy="615.73" rx="79.63" ry="20.09"/>
                                        <ellipse class="b" cx="329.43" cy="734.21" rx="79.63" ry="20.09"/>
                                        <ellipse class="b" cx="178.25" cy="677.64" rx="79.63" ry="20.09"/>
                                        <polygon class="c"
                                                 points="368.06 609.63 353.51 609.63 353.51 289.79 494.66 365.79 487.76 378.6 368.06 314.14 368.06 609.63"/>
                                        <polygon class="c"
                                                 points="257.48 672.79 243.05 670.97 283.26 353.01 496.71 385.06 494.55 399.45 295.83 369.61 257.48 672.79"/>
                                        <polygon class="c"
                                                 points="392.84 717.46 385.94 429.45 489.18 399.5 493.24 413.47 400.76 440.3 407.38 717.11 392.84 717.46"/>
                                        <polygon class="c"
                                                 points="508.14 596.66 460.53 453.83 527.8 437.75 531.18 451.9 479.35 464.29 521.94 592.05 508.14 596.66"/>
                                        <path class="c"
                                              d="M509.22,595.08s-14-24-35.38-8.73-9,36.37-9,36.37,7,6.55,30.78,7.28,29.4,0,33.86-5.09-10.08-43.25-10.08-43.25Z"/>
                                        <path class="c"
                                              d="M236.29,648s-22.42-33.41-52.14-12.15-12.51,50.61-12.51,50.61,9.73,7.17,42.83,7.21c43.07.05,42.22-12.88,45.25-21.8,5.09-15-10.71-42.55-10.71-42.55Z"/>
                                        <path class="c"
                                              d="M351.42,594.75s-29.7-42.13-59.42-20.88-12.51,50.61-12.51,50.61,9.73,7.18,42.83,7.21c43.07,0,45.13-8.51,48.16-17.43,5.09-15-13.62-46.92-13.62-46.92Z"/>
                                        <path class="c"
                                              d="M391.43,708.15s-26.79-40.67-56.51-19.42-12.51,50.61-12.51,50.61,9.73,8.63,42.83,8.67c43.07,0,43.64-13.84,43.8-23.25.73-46-15.08-42.56-15.08-42.56Z"/>
                                        <polygon class="c"
                                                 points="884.42 611.57 898.97 611.57 898.97 291.72 757.82 367.73 764.72 380.54 884.42 316.08 884.42 611.57"/>
                                        <polygon class="c"
                                                 points="995 674.73 1009.43 672.9 969.21 354.94 755.77 387 757.93 401.38 956.65 371.54 995 674.73"/>
                                        <polygon class="c"
                                                 points="859.64 719.4 866.53 431.39 763.3 401.43 759.24 415.4 851.72 442.24 845.1 719.05 859.64 719.4"/>
                                        <polygon class="c"
                                                 points="744.34 598.59 791.95 455.76 724.68 439.69 721.3 453.84 773.13 466.22 730.54 593.99 744.34 598.59"/>
                                        <path class="c"
                                              d="M743.26,597s14-24,35.38-8.73,9,36.37,9,36.37-7,6.55-30.78,7.27-29.4,0-33.86-5.09,10.08-43.24,10.08-43.24Z"/>
                                        <path class="c"
                                              d="M1016.19,649.94s22.42-33.4,52.14-12.15,12.51,50.61,12.51,50.61-9.73,7.18-42.83,7.21c-43.07,0-42.22-12.88-45.25-21.79-5.09-15,10.71-42.55,10.71-42.55Z"/>
                                        <path class="c"
                                              d="M901.06,596.68s29.7-42.13,59.41-20.87S973,626.42,973,626.42s-9.72,7.17-42.82,7.21c-43.07,0-45.13-8.52-48.16-17.44-5.1-15,13.62-46.91,13.62-46.91Z"/>
                                        <path class="c"
                                              d="M861.05,710.09s26.79-40.68,56.51-19.42,12.51,50.61,12.51,50.61-9.73,8.63-42.83,8.66c-43.07,0-43.65-13.83-43.8-23.25-.73-46,15.08-42.55,15.08-42.55Z"/>
                                        <path class="d"
                                              d="M788.53,345.46c0,87.81-70,134.27-156.39,134.27s-152-46.46-152-134.27,65.65-118.27,152-118.27S788.53,257.65,788.53,345.46Z"/>
                                        <path class="c"
                                              d="M630.23,487c-45.68,0-84.77-12.41-113.05-35.88-30.26-25.12-46.25-61.66-46.25-105.66,0-82.13,55.09-125.54,159.3-125.54,105.55,0,163.67,44.58,163.67,125.54,0,43.83-16.78,80.4-48.54,105.75C716.44,474.29,675.56,487,630.23,487Zm0-252.53c-96.05,0-144.75,37.34-144.75,111,0,78.33,55.47,127,144.75,127,90.59,0,149.12-49.84,149.12-127C779.35,253.72,698.26,234.47,630.23,234.47Z"/>
                                        <ellipse class="e" cx="573.22" cy="252.21" rx="97.47" ry="100.8"/>
                                        <path class="c"
                                              d="M571.31,358.1c-56.55,0-102.56-47.5-102.56-105.89s46-105.89,102.56-105.89,102.57,47.5,102.57,105.89S627.87,358.1,571.31,358.1Zm0-201.6c-50.94,0-92.38,42.94-92.38,95.71s41.44,95.71,92.38,95.71,92.38-42.94,92.38-95.71S622.25,156.5,571.31,156.5Z"/>
                                        <ellipse class="e" cx="718.84" cy="268.66" rx="80.41" ry="78.86"/>
                                        <path class="c"
                                              d="M716.93,352.61c-47.15,0-85.5-37.66-85.5-83.95s38.35-84,85.5-84,85.51,37.66,85.51,84S764.08,352.61,716.93,352.61Zm0-157.73c-41.53,0-75.32,33.1-75.32,73.78s33.79,73.77,75.32,73.77,75.32-33.1,75.32-73.77S758.47,194.88,716.93,194.88Z"/>
                                        <circle class="c" cx="579.54" cy="257.52" r="44.9"/>
                                        <circle class="e" cx="603.6" cy="250.7" r="12.37"/>
                                        <ellipse class="c" cx="725.28" cy="273.32" rx="36.39" ry="34.92"/>
                                        <circle class="e" cx="718.26" cy="267.09" r="10.01"/>
                                        <ellipse class="b" cx="798.86" cy="622.76" rx="79.63" ry="20.09"/>
                                        <ellipse class="b" cx="963.62" cy="618.39" rx="79.63" ry="20.09"/>
                                        <ellipse class="b" cx="924.44" cy="736.88" rx="79.63" ry="20.09"/>
                                        <ellipse class="b" cx="1075.62" cy="680.31" rx="79.63" ry="20.09"/>
                                        <path class="e"
                                              d="M537.94,685.09l23.59,19.27c6.84,5.77,10.62,10.45,11.16,19.27v68.26a15.38,15.38,0,0,1-15.49,15.49,15.57,15.57,0,0,1-15.84-15.49V776.58l-31.34-29v44.3a15.53,15.53,0,0,1-15.67,15.49,15.69,15.69,0,0,1-15.85-15.49V723.63c.73-8.82,4.87-13.5,11.53-19.27l23.05-19.27C522.27,677.89,528.93,677.53,537.94,685.09Zm3.42,60.15V712.47H510v32.77Z"/>
                                        <path class="e"
                                              d="M619.71,775.68v15.13c0,8.82-6.48,16-15.31,16a16,16,0,0,1-15.85-16V707.07a26.83,26.83,0,0,1,26.66-26.66h23.95a26.27,26.27,0,0,1,18.55,7.39L675,705.08c11.34,10.81,9.36,37.46-1.62,48.09l-15.67,15a25,25,0,0,1-18.55,7.56ZM650,744.16V711.93l-29.89-.36v32.59Z"/>
                                        <path class="e"
                                              d="M693.36,793V734.87C693.36,727,700,720,709.21,720c9,0,16,6.33,16,14.08V793c0,7.75-7,14.24-16,14.24C700.57,807.24,693.36,800.75,693.36,793Zm31.18-80.27H694v-32h30.53Z"/>
                                        <path class="e"
                                              d="M227.4,941.44v15.13c0,8.82-6.49,16-15.31,16a16,16,0,0,1-15.85-16V872.83a26.83,26.83,0,0,1,26.65-26.66h24a26.28,26.28,0,0,1,18.55,7.39l17.28,17.28c11.35,10.81,9.37,37.46-1.62,48.09l-15.66,15a25,25,0,0,1-18.55,7.56Zm30.25-31.52V877.69l-29.89-.36v32.59Z"/>
                                        <path class="e"
                                              d="M299.43,945.22v-84.1c0-8.46,7.38-15.49,15.85-15.49a15.73,15.73,0,0,1,16,15.49v80c15.84,0,11.34-.36,27-.36,20.71,0,20.71,31.7,0,31.7H326.8A27.45,27.45,0,0,1,299.43,945.22Z"/>
                                        <path class="e"
                                              d="M441.52,850.86l23.59,19.26c6.85,5.77,10.63,10.45,11.17,19.28v68.25a15.38,15.38,0,0,1-15.49,15.49,15.58,15.58,0,0,1-15.85-15.49V942.34l-31.33-29v44.3a15.76,15.76,0,0,1-31.52,0V889.4c.72-8.83,4.86-13.51,11.53-19.28l23.05-19.26C425.85,843.65,432.52,843.29,441.52,850.86ZM444.94,911V878.23H413.61V911Z"/>
                                        <path class="e"
                                              d="M551,846.35c20.36,0,20.36,31.34,0,31.34h-13.5v79.78c0,21.25-31.52,21.25-31.52,0V877.69h-13.5c-20.53,0-20.53-31.34,0-31.34Z"/>
                                        <path class="e"
                                              d="M606.48,877.87v20.89h28.28a15.79,15.79,0,0,1,15.66,15.67,16.15,16.15,0,0,1-16,15.85H606.48v27.55c0,20.53-31.51,20.53-31.51,0V873a26.55,26.55,0,0,1,26.47-26.66H641.6a15.69,15.69,0,0,1,15.85,15.49,16.27,16.27,0,0,1-15.85,16Z"/>
                                        <path class="e"
                                              d="M694.19,846.53h36a26.83,26.83,0,0,1,26.66,26.66v72.39c0,13-12.43,26.66-25.76,26.66H693.48c-13.33,0-26.66-13.69-26.66-26.66V873.19C666.82,857.52,679.79,846.53,694.19,846.53Zm31.16,31.52h-27v63h27Z"/>
                                        <path class="e"
                                              d="M845.29,921.09c11.16,6.84,15.13,15.49,15.13,26.83v9.19a15.4,15.4,0,1,1-30.8,0v-8.83l-30.8-37.45v46.28a15.53,15.53,0,0,1-15.48,15.67,15.72,15.72,0,0,1-15.85-15.67V862.2a15.76,15.76,0,0,1,15.85-15.85h35.12c7.38,0,13.5,2.7,18.9,7.75l15.31,14.77c5.41,5.4,8.47,11.7,8.47,19.44v7C861.14,907.76,855.37,916.05,845.29,921.09Zm-46.47-43.22v30.25h30.8V877.87Z"/>
                                        <path class="e"
                                              d="M926,851.22l13.69,14.58,13.68-14.58c7.57-7.93,18.37-7.93,25.4,0l18.36,19.09c5.59,6.3,10.27,10.26,11.17,19.09V958c0,20.35-31.7,20.35-31.7,0V878.23H955.5V958c0,20.89-31.51,20.89-31.51,0V878.23H903.28V958c0,20.35-31.7,20.35-31.7,0V889.4c.36-8.83,5.4-12.79,11.17-19.09l18.37-19.09C908.14,843.29,919,843.29,926,851.22Z"/>
                                    </svg>
                                </div>
                                <h3 class="py-4 text-white text-center">RESTful API</h3>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="agility bg-dark">
                                <div class="agility-img p-2 p-5 pt-4 pb-0">
                                    <svg t="1606830984854" class="img-fluid" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="31022" width="500" height="500">
                                        <path
                                                d="M956.258153 102.763478c-1.602498-18.972097-16.718777-33.983999-35.69906-35.45449-245.245564-19.079544-421.889703 99.614765-531.024286 249.522983-60.316737-19.761066-125.069507-12.719696-184.119391 20.551058-56.879452 32.039717-105.327884 86.024236-136.417973 152.010089-7.122211 15.111163-3.784186 33.087583 8.292873 44.633546 12.07706 11.550057 30.189579 14.077623 44.958958 6.282077 62.190411-32.788777 132.213207-26.615171 174.260859 15.377222L467.734844 726.724433c0.309038 0.331551 0.523933 0.713244 0.847298 1.035586 42.009789 41.964764 48.193629 111.87602 15.386432 173.958984-7.804756 14.770402-5.291516 32.878828 6.244214 44.966121 7.501858 7.855922 17.71957 12.023848 28.108175 12.023848 5.590322 0 11.228739-1.204431 16.520255-3.689019 66.049299-31.058366 120.088052-79.456656 152.164608-136.276756 33.506115-59.353806 40.470737-124.474966 20.247136-185.05674 44.042075-31.610952 83.466993-67.240427 116.585275-105.894795C925.505755 409.124981 970.06153 266.125103 956.258153 102.763478zM195.549721 441.832917c41.322128-41.259706 94.360088-65.905012 149.610436-56.208163-15.216563 26.822902-28.426423 54.078663-39.702234 81.269955C272.395924 449.098391 234.561223 440.446337 195.549721 441.832917zM582.454632 828.592518c1.366114-39.392172-7.458879-77.511351-25.589818-110.74629 28.201296-11.960403 55.491849-25.467021 81.675184-40.294728C648.995117 733.307362 624.206548 786.915303 582.454632 828.592518zM505.637082 654.779867 368.719736 518.009877c68.61882-183.799096 239.044328-380.192022 512.044002-374.880039C889.938702 468.467531 621.320824 609.381911 505.637082 654.779867zM756.591671 267.765463c11.750625 11.754718 18.450211 28.066219 18.450211 44.672432 0 16.60519-6.699586 32.82664-18.450211 44.576241-11.749602 11.750625-28.065196 18.545378-44.670385 18.545378-16.60519 0-32.8205-6.794753-44.570101-18.545378-11.749602-11.750625-18.549471-27.972075-18.549471-44.576241 0-16.606213 6.79987-32.917714 18.549471-44.672432 11.649318-11.750625 27.964912-18.450211 44.570101-18.450211C728.527498 249.315252 744.843092 256.014838 756.591671 267.765463zM209.751165 671.104671c-44.641733 44.600801-46.391587 133.923152-46.291302 151.249773 0.127913 21.275559 17.339924 39.245839 38.615483 39.245839 0.38374 0 0.801249 0 1.25662 0 19.999496 0 105.826234-3.267417 149.471266-46.858214 27.557636-27.53103 33.343409-55.616692 33.343409-74.066903-0.005117-25.856901-11.104919-51.343365-31.270191-71.486124C305.714773 620.088764 245.193375 635.703393 209.751165 671.104671zM297.900807 759.148913c-9.564843 9.55461-31.048133 16.050558-52.977585 19.753903 3.797489-22.115694 10.42135-43.533492 19.730367-52.832276 6.344498-6.335289 12.389168-10.574846 18.942421-10.574846 5.039783 0 10.379395 2.508123 16.382109 8.501628 5.3918 5.386684 8.482185 11.351536 8.482185 16.367783C308.460304 747.176231 302.713416 754.341421 297.900807 759.148913z"
                                                p-id="31023" fill="#ffffff"></path>
                                    </svg>
                                </div>
                                <h3 class="py-4 text-white text-center">敏捷搭建应用</h3>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="jigsaw bg-blue-lt">
                                <div class="jigsaw-img p-2 p-5 pt-4 pb-0">
                                    <svg t="1606830520100" class="img-fluid" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="23875" width="600" height="600">
                                        <path d="M128 128h341.333333v341.333333H128z" fill="#2d6ce0" p-id="23876">
                                        </path>
                                        <path d="M554.666667 128h341.333333v341.333333H554.666667z" fill="#2d6ce0"
                                              opacity=".2" p-id="23877"></path>
                                        <path
                                                d="M128 554.666667h341.333333v341.333333H128zM554.666667 554.666667h341.333333v341.333333H554.666667z"
                                                fill="#2d6ce0" p-id="23878"></path>
                                    </svg>
                                </div>
                                <h3 class="py-4 text-center">灵活性和可定制性</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="practice">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-8 mt-3 mt-lg-4">
                    <h2 class="normal-title text-center"><span class="text-teebb">现代化</span>的设计和开发实践</h2>
                    <p class="lead text-center text-muted font-weight-light">
                        为什么TEEBB会被称为现代化的设计和开发实践，TEEBB不仅仅是一款内容管理系统，TEEBB的开发初心和未来设想。
                    </p>
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10 mt-3">
                    <div class="row justify-content-between my-3">
                        <div class="col-md-5">
                            <div class="symfony">
                                <h3 class="font-weight-bold mb-3">基于Symfony开发</h3>
                                <p class="lead font-weight-light text-muted">
                                    Symfony是一款开源的PHP框架，提供了一套可复用的“独立、松藕合、内聚”的PHP组件。Symfony的组件被用于非常多的框架中，比如：Laravel、Drupal、Sylius等等。TEEBB基于此开发也拥有此框架的优点。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="api">
                                <h3 class="font-weight-bold mb-3">Restful API</h3>
                                <p class="lead font-weight-light text-muted">
                                    Symfony的生态系统丰富，基于Symfony的Api-platform系统可为您的应用提供完整的RESTful
                                    API标准接口与Swagger文档。TEEBB在后续的版本中将为您带来此功能，您可以方便的使用接口为您的APP或小程序提供服务。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between my-3">
                        <div class="col-md-5">
                            <div class="update">
                                <h3 class="font-weight-bold mb-3">持续完善与维护</h3>
                                <p class="lead font-weight-light text-muted">
                                    TEEBB将会持续维护以达到功能丰富与质量可靠。科技界每几年一次的技术革新，推动了技术的前进。TEEBB的未来并不仅仅是一款内容管理系统，它更可作为数据存储与读取的底层结构，为您的各种数据提供服务。
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="on-teebb">
                                <h3 class="font-weight-bold mb-3">基于TEEBB的开发</h3>
                                <p class="lead font-weight-light text-muted">
                                    TEEBB提供了“字段”的概念，您可以任意组合不同类型的“字段”以实现所需要的数据类型。您可以在TEEBB的基础上进行二次开发，对您的数据进行存储与读取，并可使用Symfony的其他组件完成所需要的各种功能。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center mb-4 my-md-4">
                    <a href="#" class="btn btn-primary">了解更多</a>
                </div>
            </div>
        </div>
    </section>

    <section id="case">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="normal-title"><span class="text-teebb">品牌</span>使用者</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="quote-wrapper bg-light">
                        <div class="row">
                            <div class="col-lg-6 my-4 p-3">
                                <blockquote class="blockquote">
                                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chat-left-quote-fill"
                                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm7.194 2.766c.087.124.163.26.227.401.428.948.393 2.377-.942 3.706a.446.446 0 0 1-.612.01.405.405 0 0 1-.011-.59c.419-.416.672-.831.809-1.22-.269.165-.588.26-.93.26C4.775 7.333 4 6.587 4 5.667 4 4.747 4.776 4 5.734 4c.271 0 .528.06.756.166l.008.004c.169.07.327.182.469.324.085.083.161.174.227.272zM11 7.073c-.269.165-.588.26-.93.26-.958 0-1.735-.746-1.735-1.666 0-.92.777-1.667 1.734-1.667.271 0 .528.06.756.166l.008.004c.17.07.327.182.469.324.085.083.161.174.227.272.087.124.164.26.228.401.428.948.392 2.377-.942 3.706a.446.446 0 0 1-.613.01.405.405 0 0 1-.011-.59c.42-.416.672-.831.81-1.22z"/>
                                    </svg>
                                    <p class="text-muted py-3">
                                        我们使用Teebb构建我们的网站，仅需后台的简单操作即可完成任何类型内容的创建及管理，非常的方便。从此网站开发仅需注重前台针对品牌的页面设计即可。
                                    </p>
                                    <footer class="blockquote-footer py-2">河南一寸光阴广告有限公司，赵经理
                                        <footer>
                                </blockquote>
                                <!-- <div class="pt-3">
                                    <a href="#" class="btn btn-primary">查看更多案例</a>
                                </div> -->
                            </div>
                            <div class="col-lg-6">
                                <div class="p-3 p-lg-4">
                                    <img src="{{ asset('teebb/assets/images/inchtime.jpg') }}" class="img-fluid shadow"
                                         alt="河南一寸光阴广告有限公司">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-lg-2 px-3 py-4">
                    <img src="{{ asset('teebb/assets/images/hengda-logo.png') }}" class="img-fluid img-gray"/>
                </div>
                <div class="col-4 col-lg-2 px-3 py-4">
                    <img src="{{ asset('teebb/assets/images/inchtime-logo.png') }}" class="img-fluid img-gray"/>
                </div>
                <div class="col-4 col-lg-2 px-3 py-4">
                    <img src="{{ asset('teebb/assets/images/mutian-logo.png') }}" class="img-fluid img-gray"/>
                </div>
                <div class="col-4 col-lg-2 px-3 py-4">
                    <img src="{{ asset('teebb/assets/images/chaeum-logo.png') }}" class="img-fluid img-gray"/>
                </div>
                <div class="col-4 col-lg-2 px-3 py-4">
                    <img src="{{ asset('teebb/assets/images/eachock-logo.png') }}" class="img-fluid img-gray"/>
                </div>
                <div class="col-4 col-lg-2 px-3 py-4">
                    <img src="{{ asset('teebb/assets/images/quancheng-logo.png') }}" class="img-fluid img-gray"/>
                </div>
            </div>
        </div>
    </section>

    <section id="index-News">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 py-2 py-lg-5">
                    <h3 class="second-title"><span class="text-teebb">最新</span>动态</h3>
                    <a href="#" class="text-muted text-right">博客</a>
                    <a href="#" class="text-muted text-right">文档</a>
                </div>
                <div class="col-lg-8">
                    <div class="row pb-4 pb-lg-0">
                        <div class="col-md-6 py-2 py-lg-4">
                            <div class="card">
                                <div class="card-status-left bg-primary"></div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#" class="text-muted">这是一个动态的标题，这个标题有点长</a>
                                    </h4>
                                    <p class="lead text-muted font-weight-light">
                                        这是动态的概要内容，这个内容大概有120个字这是动态的概要内容，这个内容大概有120个字这是动态的概要内容，这个内容大概有120个字这是动态的概要内容。
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">2020-11-11</span>
                                        <a href="#" class="">阅读更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 py-2 py-lg-4">
                            <div class="card">
                                <div class="card-status-left bg-primary"></div>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#" class="text-muted">这是一个动态的标题，这个标题有点长</a>
                                    </h4>
                                    <p class="lead text-muted font-weight-light">
                                        这是动态的概要内容，这个内容大概有120个字这是动态的概要内容，这个内容大概有120个字这是动态的概要内容，这个内容大概有120个字这是动态的概要内容。
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <span class="text-muted">2020-11-11</span>
                                        <a href="#" class="">阅读更多</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}